/* src/styles/AboutUs.css */
#aboutuspage * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#aboutuspage .about-us {
    background-color: #fbf8f6;
    margin: 0;
    padding: 0;
}


#aboutuspage .intro-section {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

#aboutuspage .vision-section{
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

#aboutuspage .intro-container,
#aboutuspage .vision-container {
    background-color: #ffffff;
    border: 1px solid;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin: 0 ;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: space-between;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#aboutuspage .header {
  text-align: center;
  padding: 30px;
  position: sticky;
top: 0;
    height: 120px;
    transition: all 0.5s;
    z-index: 997;
    background-color: #1A2530;
  }
  
  #aboutuspage .header.sticked {
    height: 70px;
  }
  
  #aboutuspage .header .logo img {
    margin-top: 5px;
    max-height: 80px;
    margin-right: 30px;
  }
  
  #aboutuspage .header .logo h1 {
    text-decoration: none;
    margin-top: 6px;
    font-size: 50px;
    font-weight: 700;
    color: #D1DCE1;
    font-family: var(--font-primary);
  }
  #aboutuspage .header.sticked .logo img {
    margin-top: -5px;
    max-height: 50px;
    margin-right: 6px;
  }
  
  #aboutuspage .header.sticked .logo h1 {
    margin-top: -1px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #D1DCE1;
    font-family: var(--font-primary);
  }

#aboutuspage .intro-container h1,
#aboutuspage .vision-container h1,
#aboutuspage .conclusion-container h2 {
    margin-top: 0;
    font-size: 24px;
}

#aboutuspage .intro-container p,
#aboutuspage .vision-container p,
#aboutuspage .conclusion-container p {
    color: #555;
}
