/* src/styles/Card.css */
#aboutuspage .card {
  box-shadow: 0px 0 30px color-mix(in srgb, var(--default-color), transparent 92%);
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  max-height: 410px;
}

#aboutuspage .card-image {
    position: relative;
    overflow: hidden;
}

#aboutuspage .card-image:after {
    position: absolute;
    content: "";
    left: -1px;
    right: -1px;
    bottom: 0;
    height: 100%;
    background-size: contain;
    z-index: 1;
}

#aboutuspage .card-text {
  background-color: #D1DCE1;
  
  text-decoration: none;
    padding: 10px 15px 20px 15px;
}

#aboutuspage .card-text p {
    font-style: italic;
  font-size: 14px;
  text-decoration: none;
  padding-top: 15px;
  line-height: 26px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

#aboutuspage .cards-section {
    display: flex;
    justify-content: space-around; /* Evenly space out the cards */
    gap: 20px;
}
#aboutuspage .card:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px color-mix(in srgb, var(--default-color), transparent 85%);
  }