/* src/styles/VisionPage.css */
#aboutuspage .vision-page {
    
    color: rgb(18, 1, 1);
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutuspage .vision-content {
    max-width: 800px;
    text-align: justify;
    line-height: 1.5;
}

#aboutuspage .back-to-home {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#aboutuspage .back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#aboutuspage .back-button:hover {
    background-color: #555;
}
